* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    overflow-x: hidden;
}



/* HEADER*/

header {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content:flex-start;
    position: fixed;
    background-color: #FFFF;
    width: 100vw;
    max-height: 10vh;
    z-index: 999;
    
}

header h2 {
    margin-right: auto;
}


.main-logo {
    max-width: 50px;
    height: auto;
    margin: 3px;
}

.logo-text {
    font-size: 15px;
    margin-right: 30px;
    font-weight: 900;
}

.menu-btn {
    padding: 10px 20px;
    font-weight: 600;
}

.menu-btn:hover {
    background-color: #2F9EEE;
    color:#FFFFFF;
}

.menu-btn:hover a{
    color:#FFFFFF;
}

ul {
    list-style: none;
}

.dropdown {
    position: relative;
    background-color: #FFFFFF;
}



.explore-dropdown, .exo-dropdown {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


nav:hover .explore-dropdown {
    display: block;
}

nav:hover .exo-dropdown {
    display: block;
}

.dropdown:hover .menu-btn, .dropdown:hover .menu-btn a  {
    background-color: #2F9EEE;
    color: #FFFFFF;
} 

.dropdown li {
    padding: 5px;
}

.dropdown li:hover {
    background-color: #2F9EEE;
    color: #FFFFFF;
}

ul li{
    padding-top: 5px;
}

.opening-hours {
    margin-left: auto;
    margin-right: 10px;
    width: 200px;
    height: 40px;
    background-color: #2F9EEE;
    color:#FFFFFF;
    text-align: center;
    align-items: center;
}

.opening-hover {
    display: none;
    position: relative;
    background-color: #2F9EEE;
    color:#FFFFFF;
    text-align: left;
    padding-top: 10px;
    z-index: 5;
}

.opening-hours:hover .opening-hover {
    display: block;
}


/* MAIN SECTION - Landing page */

.event-hero {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-image: url(/images/spacexlaunch.jpg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.info-area {
    width: auto;
    height: auto;
    background-color: rgba(47, 158, 238, 0.6);
    color:#FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.info-area a {
    color: #FFFFFF;
}

.exhibition-card-container .exhibition-card .learn-more-button {
    width: 7rem;
    background-color: #FFFFFF;
    color:#000000;
    padding: 0.5rem;
}

.learn-more-button {
    font-weight: 600;
}

.explore-banner {
    width: 100%;
    height: 13rem;
    background-color: #000000;
    background-image: url(/images/starsky.jpg);
    background-size: cover;
    background-position-x: 0;
    color:#FFFFFF;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: space-background 65s linear infinite;
    overflow-x: hidden;
}

.explore-banner h2 {
    font-size: 5vw;
    z-index: 3;
}

@keyframes space-background {
    from {background-position: 0 0;}
    to {background-position: -2000px 0;}
}

.little-rocket {
    width: 6rem;
    position: absolute;
    animation: spaceship 10s linear infinite;
    z-index: 2;
}

@keyframes spaceship {
    from {left: 0;}
    to {left: 100%;}
}

@keyframes spaceship2 {
    from {transform: rotate(180deg);
        left: 100%;}
    to {transform: rotate(180deg);
        left: 0;}
}

@keyframes spaceship3 {
    from {transform: rotate(0deg);
        left: 100%;;
        }
    to {transform: rotate(720deg);
        left: 0;}
}

.exhibition-section {
    background-color: #000000;
    color:#FFFFFF;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.exhibition-card-container {
    display: flex;
    overflow: auto;
    background-color: #000000;
    color:#FFFFFF;
    padding: 2rem;
    align-content: space-between;
}

.exhibition-card-container::-webkit-scrollbar, .explore-section::-webkit-scrollbar, .section-image-wrapper::-webkit-scrollbar {
    height: 1rem;
}

.exhibition-card-container::-webkit-scrollbar-track, .section-image-wrapper::-webkit-scrollbar-track {
    background-color: #000000;
    border: #FFFFFF solid 2px;
    border-radius: 100vw;

}

.explore-section::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border: #000000 solid 2px;
    border-radius: 100vw;

}

.exhibition-card-container::-webkit-scrollbar-thumb, .section-image-wrapper::-webkit-scrollbar-thumb{
    background-color: #FFFFFF;
    border-radius: 100vw;
}

.explore-section::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 100vw;
}

.exhibition-card {
    max-width: 15rem;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    color:#FFFFFF;
}

.exhibition-card:hover, .explore-link-card:hover {
    scale: 1.2;
}

.exhibition-card-image {
    width: 15rem;
    height: 18rem;
    object-fit: cover;
}

.h2-wrapper {
    width: 100%;
    height: 4rem;
    color:#FFFFFF;
}

.visit-section {
    background-image: url(/images/FamilyHero.jpg);
    background-size: cover;
    width: 60%;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.explore-section {
    display: flex;
    align-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: auto;
}

.explore-section a, .exhibition-card-container a {
    margin-left: auto;
    margin-right: auto;
}

.explore-link-card {
    height: 15rem;
    width: 15rem;
    background-size: cover;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#explore-link-museum {
    background-image: url(/images/museumfloor.jpg);
}

#explore-link-kids {
    background-image: url(/images/trexhead.jpg);
    background-position-x: -70px;
}

#explore-link-teachers {
    background-image: url(/images/humanorgans.jpg);
}

#explore-link-researchers {
    background-image: url(/images/researchers.jpg);
}



.explore-link-button {
    background-color: rgba(47, 158, 238, 0.6);
    width: 100%;
    height: 3rem;
    padding-top: 0.7rem;
    text-align: center;
    color:#FFFFFF;
}

footer {
    width: 100%;
    height: fit-content;
    background-color: #000000;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}


/* MAIN SECTION - Explore page */

.hero {
    display: flex;
}

.explore-page-hero {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 50%;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    padding-bottom: 1rem;

}

.section-image-wrapper {
    display: flex;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.section-image {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: transform 0.2s;
}

/*.section-image:hover {
    transform: scale(1.5);
    border-radius: 0;
    width: auto;
    object-fit: fill;
}
*/


.section-banner {
    width: 100%;
}

.container p {
    margin-top: 0.5rem;
}

.exhibition-hero {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-image: url(/images/exhibitionbanner.jpg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.explore-hero {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-image: url(/images/explorebanner.jpg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.visit-hero {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-image: url(/images/visitbanner.jpg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.events-hero {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-image: url(/images/eventbanner.jpg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.blue-line {
    width: 100%;
    height: 1rem;
    background-color: #2F9EEE;
    margin: 0;
}

.image-wrapper {
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;

}



.text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 2rem auto;
    font-size: 1rem;
}

.info-text-wrapper {
    width: 70%;
}

.fact-text-wrapper {
    background-color: #2F9EEE;
    border-radius: 5%;
    margin-left: 2rem;
    width: 20%;
    padding: 1rem;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.events-image {
    width: 70%;
    height: auto;
}

.events-page .info-text-wrapper {
    margin-top: 3rem;
}

.location-text {
    width: 50%;
}

.map-container {
    width: 50%;
}

.flexed {
    display: flex;
}

/* Mobile version */

nav.mobile-menu {
    display: none;
}

#mobile-dropdown-menu,#menu-checkbox, #explore-checkbox, #mobile-explore-dropdown, #exhi-checkbox, #mobile-exhi-dropdown {
    display: none;
}

#menu-checkbox:checked ~ #mobile-dropdown-menu {
    display: block;
}

#explore-checkbox:checked ~ #mobile-explore-dropdown {
    display: block;
}

#exhi-checkbox:checked ~ #mobile-exhi-dropdown {
    display: block;
}




#mobile-dropdown-menu {
    padding-top: 5vh;
    margin-top: 15vh;
    border: #2F9EEE 5px solid;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 75vh;
    background-color: #FFFF;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    z-index: 4;
    animation: slidedown 0.3s ease-in-out;
    transform-origin: top center;
}

@keyframes slidedown {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

#mobile-dropdown-menu ul {
    margin-left: 20px;
}


.mouse-pointer {
    cursor: pointer;
}


.mobile-menu-button {
    float: right;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.hamburger-menu {
    content: '';
    width: 40px;
    height: 6px;
    background-color:#000000;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.hamburger-menu::before,  .hamburger-menu::after{
    content: '';
    width: 40px;
    height: 6px;
    background-color:#000000;
    position: absolute;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.hamburger-menu::before {
    top: 16px;
}

.hamburger-menu::after {
    bottom: 16px;
}


.mobile-menu-button.open .hamburger-menu::before {
    transform: rotate(45deg) translate(5px, 10px);
}

.mobile-menu-button.open .hamburger-menu::after {
    transform: rotate(-45deg) translate(5px, -10px);
}


.mobile-menu-button.open .hamburger-menu {
    background-color: white;
}

@media (max-width: 900px) {


nav.dropdown {
    display: none;
}

nav.mobile-menu {
    display: flex;
}

.container {
    width: 100%;
}

.flexed {
    flex-direction: column;
}

.map-container {
    width: 100%;
}

}

