* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}



/* HEADER*/

header {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content:flex-start;
    position: fixed;
    background-color: #FFFF;
    width: 100%;
    
}


.main-logo {
    max-width: 50px;
    height: auto;
    margin: 3px;
}

.logo-text {
    font-size: 15px;
    margin-right: 30px;
    font-weight: 900;
}

.menu-btn {
    padding: 10px 20px;
    font-weight: 600;
}

.menu-btn:hover {
    background-color: #2F9EEE;
    color:#FFFFFF;
}

.menu-btn:hover a{
    color:#FFFFFF;
}

ul {
    list-style: none;
}

.dropdown {
    position: relative;
    background-color: #FFFFFF;
}



.explore-dropdown, .exo-dropdown {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


nav:hover .explore-dropdown {
    display: block;
}

nav:hover .exo-dropdown {
    display: block;
}

.dropdown:hover .menu-btn  {
    background-color: #2F9EEE;

} 

.dropdown li {
    padding: 5px;
}

.dropdown li:hover {
    background-color: #2F9EEE;
    color: #FFFFFF;
}

ul li{
    padding-top: 5px;
}

.opening-hours {
    margin-left: auto;
    margin-right: 10px;
    width: 200px;
    height: 40px;
    background-color: lightgray;
    text-align: center;
}

.opening-hover {
    display: none;
    position: relative;
    background-color: lightgrey;
    text-align: left;
    padding-top: 10px;
}

.opening-hours:hover .opening-hover {
    display: block;
}


/* MAIN SECTION - Landing page */

.hero-img {
    width: 100%;
    height: auto;
}

/* MAIN SECTION - Explore page */

.blue-section {
    background-color: #2F9EEE;
    height: 100vh;
    color: #FFFFFF;
    padding-top: 15vh;
}

.white-section {
    background-color: #FFFFFF;
    height: 100vh;
    padding-top: 15vh;

}

.wrapper {
    width: 70%;
    margin: auto;
}

.content-wrapper {
    display: flex;
}

.text-area {
    flex: 1;
    padding-right: 110px;
}


.picture-area {
    flex: 1;
}

/*

nav, #explore-checkbox {
    display: none;
}

#explore-checkbox:checked ~ #explore-menu {
    display: block;
}

nav, #exhibition-checkbox {
    display: none;
}

#exhibition-checkbox:checked ~ #exhibition-menu {
    display: block;
}

*/

/* Mobile version */

nav.mobile-menu {
    display: none;
}

#mobile-dropdown-menu,#menu-checkbox, #explore-checkbox, #mobile-explore-dropdown {
    display: none;
}

#menu-checkbox:checked ~ #mobile-dropdown-menu {
    display: block;
}

#explore-checkbox:checked ~ #mobile-explore-dropdown {
    display: block;
}



#mobile-dropdown-menu {
    position: absolute;
    right: 0;
    margin-top: 10vh;
    width: 100%;
    height: 90vh;
    background-color: #FFFF;
}

.mobile-menu-button {
    float: right;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.hamburger-menu {
    content: '';
    width: 40px;
    height: 5px;
    background-color:#000000;
}

.hamburger-menu::before,  .hamburger-menu::after{
    content: '';
    width: 40px;
    height: 5px;
    background-color:#000000;
    position: absolute;
}

.hamburger-menu::before {
    top: 17px;
}

.hamburger-menu::after {
    bottom: 17px;
}


#menu-checkbox:checked ~ div.hamburger-menu::before {
    background-color: red;
    transform: rotateZ(44deg);
}

#menu-checkbox:checked ~ div.hamburger-menu::after {
    background-color: red;
}




#menu-checkbox:checked ~ .hamburger-menu {
    background-color: red;
}

@media (max-width: 900px) {


nav.dropdown {
    display: none;
}

nav.mobile-menu {
    display: flex;
}

}

